
h6{
    margin-bottom: 0px!important;

}

.alert-success{
    margin-bottom: 17px!important;
}

.text-md-start{
    margin-left: 18px!important;

}

.text-md-start {
    margin-left: 0px!important;
}

.card{
    max-width: 357px;
    margin-bottom: 50px;
}

.btn-primary{
    background-color: #3d8bfd!important;
    border-color: #3d8bfd!important;    
}

.btn-danger{
    background-color: #df4957!important;
    border-color: #df4957!important;    
}

.navbar-brand{
    font-family: 'Lucida Handwriting', sans-serif;
    font-size: 24px;

}


/* CUSTOM IDS AND CLASSES */

.miDiv {
    margin-left: -111px!important;
    margin-right: -106px!important;
}

.tituloCabecera{
    color: rgb(117, 1, 1);
    text-align: center;
    margin-top: 10px;
}

.tituloRol{
    margin-right: 20px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lucida Handwriting', sans-serif;
}

.comandasNavTabs button {
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    margin-top: 10px;
}

button{
    height: 30px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    font-size: 14px!important;
    margin-top: 10px!important;
}

.botonesAdmin{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
}

.marginTopBody{
    margin-top: 120px;
}

#anchorCrearComanda{
    margin-top: -100px!important;
}

.titulosComandas{
    margin-bottom: -1px!important;
}

#tituloCrearComanda{
    color: #0a58ca!important;
}

#bodyCrearComanda{
    background-color: #f0f6ff;
}

#tituloComandaAbierta{
    color: #e5ad06;

}

.bodyComandasAbiertas{    
    background-color: #fff7e1;
    padding-top: 6px;
    padding-bottom: 9px;
}

.bodyComandasAbiertas div{
    /* color: #e5ad06; */
    /* padding-left: 33px!important; */
    margin-left: 30px;
    /* height: 15px; */
    margin-top: -28px;
    margin-bottom: -28px;
}
/* LOGIN */

#tituloLogin{
    margin-right: 160px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lucida Handwriting', sans-serif;
}

#tituloAdministrador{
    margin-right: 160px;
    margin-top: -10px;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    font-family: 'Lucida Handwriting', sans-serif;
}

#cardLogin{
    max-width: initial;
}

/* RESPONSIVE */

@media (min-width: 1400px) { 
    .miDiv{
        margin-left: initial;
        margin-right: initial;
    }
    .card{
        margin: auto;
    }
    .navbar{
        margin-right: -78px;    
    }
 }

@media (max-width: 767px) { 
    .miDiv{
        margin-left: initial;
        margin-right: initial;
    }
    .card{
        max-width: initial;
        margin-left: 100px;
        margin-right: 50px;
    }
    .comandasNavTabs{
        margin-top: -4px;
        position: absolute;
        margin-left: 132px;
    }
    .comandasBody{
        margin-top: 135px;
    }
}
 